/** @KevinNitroG

ViSort/Models/SortModels/ @PNCanh @KevinNitroG
ViSort/Models/DrawRectangle.cs @PNCanh @KevinNitroG
ViSort/Models/SortModel.cs @PNCanh @KevinNitroG
ViSort/Pages/VisualisePage.xaml* @PNCanh @KevinNitroG
ViSort/Windows/VisualiseWindow.xaml* @PNCanh @KevinNitroG

ViSort/Models/QuizModel.cs @leminionn @KevinNitroG
ViSort/Pages/ProfilePages/ @leminionn @KevinNitroG
ViSort/Pages/QuizPage.xaml* @leminionn @KevinNitroG
