/** @KevinNitroG

ViSort/Models/SortModels/ @PNCanh
ViSort/Models/DrawRectangle.cs @PNCanh
ViSort/Models/SortModel.cs @PNCanh
ViSort/Pages/VisualisePage.xaml* @PNCanh
ViSort/Windows/VisualiseWindow.xaml* @PNCanh

ViSort/Models/QuizModel.cs @leminionn
ViSort/Pages/ProfilePages/ @leminionn
ViSort/Pages/QuizPage.xaml* @leminionn
